<div class="container">
 <h1>All Wikis</h1>
</div>
  <% @wikis.each do |wiki| %>
  <% if wiki.public? || (wiki.private? && current_user == wiki.user) %>
  <div class="container">
    <div class="list-group">
       <h4 class="list-group-item-heading">
         <%= link_to wiki.title, wiki %>
       </h4>
       <p class="list-group-item-body"><%= link_to wiki.body, wiki %></p>
     </div>
  </div>
  <% end %>
<% end %>
 
